{% extends "main.twig" %}
{% block title %}Ajout avec succé{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="Css/personnels.css" />
    <link rel="stylesheet" type="text/css" href="Css/froms.css" />

{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-6 col-md-offset-3">

            <span class="alert-info">L'ajout s'est fait avec succ&eacute;</span><br>

        </div>





    </div>

{% endblock %}
