{% extends "main.twig" %}
{% block title %}Gestion de Personnels{% endblock %}

{% block css %}  <link rel="stylesheet" type="text/css" href="Css/personnels.css" /> {% endblock %}

{% block content %}
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <ul class="thumbnails">
                    <li class="col-md-6">
                        <div class="fff">
                            <div class="thumbnail img-circle">
                                <a href="listpersonnels.html"><img height="256px" width="256px" src="Css/images/members.png" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4>Liste de Personnels :</h4>
                                <p>Voir la liste de personnels que vous disposez ...</p>
                                <a class="btn btn-mini" href="listpersonnels.html">&Rrightarrow; voir plus</a>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6">
                        <div class="fff">
                            <div class="thumbnail">
                                <a href="addperso.html"><img height="256px" width="256px" src="Css/images/member.png" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4>Ajouter</h4>
                                <p>Ajouter un nouveau compte de personnel.</p>
                                <a class="btn btn-mini" href="addperso.html">&Rrightarrow; ajouter</a>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>

{% endblock %}